div.text
{
text-align:left;
margin-left:200px;
margin-right:250px;
margin-top:1px;
color:black;
font-size:16px;
background-color:silver;
dispaly:flex;
text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px ;   

}
.image1
{
	height:50%;
	width:55%;
	margin-right:120px;
	
}

.image
{
	height:30%;
	width:30%;
	margin-right:150px;
	
}
div.heading
{
	
}
h1.top{
	text-align:center;
	margin-left:300;
	margin-right:300;
	border-radius: 4px;
	border-width: 0px;
	 -webkit-animation: mymove 5s infinite;
	

}
@-webkit-keyframes mymove 
	{
    from 
	{background-color: #ccccff;}
    to 
	{background-color:#b3b3ff;}
    }
h3.sub{
	margin-right:250px;
	margin-left:440px;
font-weight:bold;
text-decoration:underline;
color:red;
}
div.main
{
	dispaly:flex;
	background-color:lightgray;
	margin-left:200px;
	margin-right:200px;
}